.flexsearch-wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
  padding-left: 30%;
  padding-right: 30%;
}

.flexsearch-form {
  overflow: hidden;
  position: relative;
}

.flexsearch-input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch-input {
  width: 100%;
}

.flexsearch {
  padding: 10px;
}

.flexsearch-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  width: 100%;
  padding: 0 46px 0 10px;
  border-color: #888;
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#flexsearch-submit-wrapper{
  position: absolute;
  display: block;
  background: transparent;
  border: none;
  right: 0;
}
#MR-submit {
  position: absolute;
  right: 60px;
  top: 5px;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 1px;
  border: none;
  margin-right: 5px;
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}
#spark-submit {
  position: absolute;
  right: 0px;
  top: 5px;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 1px;
  border: none;
  margin-right: 5px;
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch-input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch-input:focus.flexsearch-submit {
  color: #333;
}

.flexsearch-submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}

.h1 {
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  margin: 150px 0px 50px 0px;
}

.matches {
  border-color: #000000;

  margin: 0 30px 0 30px;
}

.matches a {
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  color: #333;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

input[type=file] {
    display:block;
    height:0;
    width:0;
}

.upload {
  margin: 0 30% 0 30%;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.upload h4 {
  font-size: 24px;
}

.results {
  margin: 30px 30% 0 30%;
  font-family: 'Helvetica', sans-serif;
}

.results-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.results-link {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.results-text {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.results-text-occurrences {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#file{
  visibility: hidden;
}
